<h3>Votre Panier</h3>
<div class="container">
    <div ng-if="$ctrl.produitList.length">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th> Nom </th>
                    <th> Prix </th>
                    <th> Quantité </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produit in $ctrl.produitList track by $index">
                    <td><img ng-src="{{produit.urlImage}}" class="img-thumbnail" width="250"></td>
                    <td>{{produit.type | uppercase}}</td>
                    <td>
                        {{produit.nom}}
                        <br>
                        <span ng-if="produit.type=='pizza'"> {{produit.ingredients}} </span>
                        <span ng-if="produit.type=='menu'">
                        <ul ng-if="produit.entrees.length>0">
                            <li ng-repeat="entree in produit.entrees track by $index">{{entree.quantite}} {{entree.nom}}</li>
                        </ul>
                        <ul ng-if="produit.pizzas.length>0">
                            <li ng-repeat="pizza in produit.pizzas track by $index">{{pizza.quantite}} {{pizza.nom}}</li>
                        </ul>
                        <ul ng-if="produit.desserts.length>0">
                            <li ng-repeat="dessert in produit.desserts track by $index">{{dessert.quantite}} {{dessert.nom}}</li>
                        </ul>
                        <ul ng-if="produit.boissons.length>0">
                            <li ng-repeat="boisson in produit.boissons track by $index">{{boisson.quantite}} {{boisson.nom}}</li>
                        </ul>
                        </span>
                    </td>
                    <td> {{$ctrl.UtilService.getPrix(produit.prix,"fr","eur")}}</td>
                    <td><input ng-if="produit.type!='menu'" ng-click="$ctrl.majQuantite(produit)" ng-change="$ctrl.majQuantite(produit)" type="number" name="quantity" min="1" max="99" ng-model="produit.quantite"></td>
                    <td><button ng-click="$ctrl.supprimerDuPanier(produit)" type="button" class="btn btn-danger"><span>Supprimer</span></button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>

                    <td>
                        <label class="col-md-4 control-label" for="">Code Promotion</label>
                        <div class="col-md-4">
                            <input ng-model="$ctrl.code" id="promotion" name="promotion" type="text" placeholder="Code" class="form-control input-md">
                            <button class="btn btn-success" ng-click="$ctrl.VerifPromo()">Appliquer</button>
                        </div>
                    </td>
                    <td colspan="6" style="text-align:center;">
                        <div>{{$ctrl.message}}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:right; font-weight: bold;">
                        TOTAL {{$ctrl.UtilService.getPrix($ctrl.total,"fr","eur")}} TTC
                        <br><a class="btn btn-primary" href="/commande">Valider la Commande</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <suggestion-panier produits="$ctrl.produitList"></suggestion-panier>
    </div>

    <div ng-if="!$ctrl.produitList.length">
        Votre Panier est vide
    </div>
</div>