<h3>Nos Pizzas</h3>

<div class="container">
    <div class="row">
         <nav class="navbar">
            <ul class="nav navbar-nav">
                <li ng-repeat="categ in $ctrl.categs" ng-class="{'activeCateg' : $ctrl.isCategSelected(categ)}"><a href="#" ng-click="$ctrl.sort(categ)">{{categ.nom}} ({{categ.nb}})</a></li>
            </ul>
        </nav>
    </div>     
    <div class="row">
        <product ng-repeat="pizza in $ctrl.pizzas track by $index" product="pizza" update-product="$ctrl.updateProduct($event)" on-select="$ctrl.ajouterPanier(pizza, $localStorage)" on-afficher-modale="$ctrl.afficherModale(pizza)">
        </product>
    </div>
    <modal-pizza pizza="$ctrl.currentPizza">
    </modal-pizza>
</div>