<div class="panel panel-default">
    <div class="panel-heading">
        {{ $ctrl.product.nom }}
    </div>
    <div class="panel-body">
        <img height="50px" ng-src="{{ $ctrl.product.urlImage }}" alt="{{ $ctrl.product.nom }}" data-toggle="modal"
                data-target="#pizzaModal" />  
        <span>
            <h4 style="display:inline-block">{{ $ctrl.UtilService.getPrix($ctrl.product.prix,'fr','eur') }}</h4>
        </span>
    </div>
    <div class="panel-footer">
        <button ng-click="$ctrl.ajouterMenu()" 
            type="button" class="btn btn-primary">
            Ajouter au menu
        </button>
    </div>
</div>
