<h2>Etat de votre commande</h2>
<div class="container" >
    <div class="row" ng-if="$ctrl.statut === 'EN_PREPARATION'">
        <div class="col-md-2 current" >
            <span> Préparation </span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 unchecked" >
            <span> Cuisson </span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 unchecked" >
            <span> Conditionnement </span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 unchecked" >
            <span> Livraison </span>
        </div>
    </div>

    <div class="row" ng-if="$ctrl.statut === 'EN_CUISSON'">
        <div class="col-md-2 checked" >
            <span> Préparation terminée</span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 current" >
            <span> Cuisson terminée</span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 unchecked" >
            <span> Conditionnement </span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 unchecked" >
            <span> Livraison </span>
        </div>
    </div>

    <div class="row" ng-if="$ctrl.statut === 'PRET' || $ctrl.statut === 'EN_LIVRAISON'">
        <div class="col-md-2 checked" >
            <span> Préparation terminée</span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 checked" >
            <span> Cuisson terminée</span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 current" >
            <span> Commande prête à partir </span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 unchecked" >
            <span> Livraison </span>
        </div>
    </div>

    <div class="row" ng-if="$ctrl.statut === 'LIVRER'">
        <div class="col-md-2 checked" >
            <span> Préparation terminée</span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 checked" >
            <span> Cuisson terminée</span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 checked" >
            <span> Commande livrée </span>
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1 glyph"></span>
        <div class="col-md-2 current" >
            <span> Bon appétit! </span>
        </div>
    </div>
</div>
</br>
<div class="container col-md-2"></div>
<div class="container col-md-8">
<table class="table table-striped">

            <thead ng-if="$ctrl.haveEntree()">
                <tr>
                    <th></th>
                    <th>Entrée(s)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-if="$ctrl.haveEntree()">
                <tr ng-repeat="entree in $ctrl.entrees">
                    <td>
                        <img ng-src="{{ entree.urlImage }}" alt="{{ entree.nom }}" width="30px" height="30px"/>
                    </td>
                    <td>{{ entree.nom }}</td>
                    <td>{{ $ctrl.UtilService.getPrix(entree.prix,"fr","eur") }}</td>
                </tr>
            </tbody>
            <thead ng-if="$ctrl.havePizza()">
                <tr>
                    <th></th>
                    <th>Pizza(s)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-if="$ctrl.havePizza()">
                <tr ng-repeat="pizza in $ctrl.pizzas">
                    <td>
                        <img ng-src="{{ pizza.urlImage }}" alt="{{ pizza.nom }}" width="30px" height="30px"/>
                    </td>
                    <td>{{ pizza.nom }}</td>
                    <td>{{ $ctrl.UtilService.getPrix(pizza.prix,"fr","eur") }}</td>
                </tr>
            </tbody>
            <thead ng-if="$ctrl.haveDessert()">
                <tr>
                    <th></th>
                    <th>Dessert(s)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-if="$ctrl.haveDessert()">
                <tr ng-repeat="dessert in $ctrl.desserts">
                    <td>
                        <img ng-src="{{ dessert.urlImage }}" alt="{{ dessert.nom }}" width="30px" height="30px"/>
                    </td>
                    <td>{{ dessert.nom }}</td>
                    <td>{{ $ctrl.UtilService.getPrix(dessert.prix,"fr","eur") }}</td>
                </tr>
            </tbody>
            <thead ng-if="$ctrl.haveBoisson()">
                <tr>
                    <th></th>
                    <th>Boisson(s)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-if="$ctrl.haveBoisson()">
                <tr ng-repeat="boisson in $ctrl.boissons">
                    <td>
                        <img ng-src="{{ boisson.urlImage }}" alt="{{ boisson.nom }}" width="30px" height="30px"/>
                    </td>
                    <td>{{ boisson.nom }}</td>
                    <td>{{ $ctrl.UtilService.getPrix(boisson.prix,"fr","eur") }}</td>
                </tr>
            </tbody>
            <thead ng-if="$ctrl.haveMenu()">
                <tr>
                    <th></th>
                    <th>Menu(s)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-if="$ctrl.haveMenu()">
                <tr ng-repeat="menu in $ctrl.menus">
                    <td>
                        <img ng-src="{{ menu.urlImage }}" alt="{{ menu.nom }}" width="30px" height="30px"/>
                    </td>
                    <td>{{ menu.nom }}</td>
                    <td>{{ $ctrl.UtilService.getPrix(menu.prix,"fr","eur") }}</td>
                </tr>
            </tbody>
        </table>
</div>
</div>