<div class="container">
    <div class="row">
        <div class="col-md-2" style="border: solid 1px">
            Statut 1
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1"></span>
        <div class="col-md-2" style="border: solid 1px">
            Statut 2
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1"></span>
        <div class="col-md-2" style="border: solid 1px">
            Statut 3
        </div>
        <span class="glyphicon  glyphicon-chevron-right col-md-1"></span>
        <div class="col-md-2" style="border: solid 1px">
            Statut 4
        </div>
    </div>
</div>
<div class="container">
    Les éléments de la pizza
</div>