<!-- Modal menu detail -->
<div class="modal fade" id="menuChoixModal" tabindex="-1" role="dialog" aria-labelledby="menuChoixModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ $ctrl.menu.nom }}</h4>
            </div>
            <div class="modal-body">
                <img width="20%" ng-src="{{ $ctrl.menu.urlImage }}" class="img-responsive"/>
                <table class="table">
                    <tr>
                        <td>Choix</td>
                        <td>Quantité restante</td>
                    </tr>
                    <tr ng-if="$ctrl.menu.nbEntree > 0 ">
                        <td>Les entrées</td>
                        <td>{{ $ctrl.menu.nbEntree - $ctrl.entrees.length }}</td>
                    </tr>
                    <tr ng-if="$ctrl.menu.nbPizza > 0 ">
                        <td>Les pizzas</td>
                        <td>{{ $ctrl.menu.nbPizza - $ctrl.pizzas.length }}</td>
                    </tr>
                    <tr ng-if="$ctrl.menu.nbDessert > 0 ">
                        <td>Les desserts</td>
                        <td>{{ $ctrl.menu.nbDessert - $ctrl.desserts.length }}</td>
                    </tr>
                    <tr ng-if="$ctrl.menu.nbBoisson > 0 ">
                        <td>Les boissons</td>
                        <td>{{ $ctrl.menu.nbBoisson - $ctrl.boissons.length }}</td>
                    </tr>
                </table>
                <div>{{ $ctrl.UtilService.getPrix($ctrl.menu.prix,"fr","eur" ) }} </div>
            </div>
        </div>
    </div>
</div>